[build]
builder = "dockerfile"

[deploy]
healthcheckPath = "/setup/healthz"
healthcheckTimeout = 300
restartPolicyType = "on_failure"

[variables]
PORT = "8080"
POSTGRES_PASSWORD = "${{secret(32)}}"
SETUP_PASSWORD = "${{secret(32)}}"
